.mw-header {
    width: 100%;
    height: 40px;
    background-color: #F8F8F8;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #D8D8D8;
}

.mw-header table {
    border-spacing: 0;
}

.mw-header table tr td.mw-header-td {
    font-family: Arial;
    font-size: 11px;
    display: table-cell;
    text-transform: uppercase;
    color: #262626;
    vertical-align: top;
    cursor: default;
}

.mw-header table tr td.mw-header-td div.mw-header-td-div {
    height: 38px;
    line-height: 37px;
    float: left;
    padding-left: 10px;
}

.mw-header table tr td.mw-header-td .ASC {
    background-image: url(img/sort_asc.gif);
    width: 8px;
    height: 8px;
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
}

.mw-header table tr td.mw-header-td .DESC {
    background-image: url(img/sort_desc.gif);
    width: 8px;
    height: 8px;
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
}

.mw-content {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #D8D8D8;
    border-top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.mw-content::-webkit-scrollbar {
    height: 17px;
    width: 17px;
}

.mw-content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.mw-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.mw-content table { 
    border-spacing: 0;
    overflow-x: hidden;
}

.mw-content table tr.mw-content-tr {
    border-collapse: separate;
    color: rgb(0, 0, 0);
    cursor: default;
    display: table-row;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 40px;
    line-height: normal;
    vertical-align: middle;
    white-space: normal;
}

.mw-content table tr.mw-content-tr:nth-child(2n+2) {
    background-color: rgb(250, 250, 248);
    border-collapse: separate;
    color: rgb(0, 0, 0);
    cursor: default;
    display: table-row;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 40px;
    line-height: normal;
    vertical-align: middle;
    white-space: normal;
}

.mw-content table tr.mw-content-tr.select {
    background-color: rgb(176, 244, 253);
}

.mw-content table tr.mw-content-tr td.mw-content-td {
    border:1px solid rgb(230, 230, 230);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-collapse: separate;
    color: rgb(38, 38, 38);
    cursor: default;
    display: table-cell;
    empty-cells: show;
    font-family: Arial;
    font-size: 13px;
    height: 39px;
    line-height: normal;
}

.mw-content table tr.mw-content-tr td.mw-content-td div.mw-content-td-div {
    padding-left: 10px;
}

.mw-content table tr.mw-content-tr td.mw-content-td div.mw-content-td-div .mw-content-text {
    width: 100%;
    border: 1px solid #AAAAAA;
    height: 35px;
    margin-left: -10px;
    padding-left: 10px;
}

.mw-content table tr.mw-content-tr td.mw-content-td div.mw-content-td-div .mw-content-number {
    width: 100%;
    border: 1px solid #AAAAAA;
    height: 35px;
    margin-left: -10px;
    padding-left: 10px;
}