#grid {
    height: 500px;
    width: 600px;
}

.button {
    height: 30px;
    width: 150px;
    line-height: 30px;
    background: #AAAAAA;
    margin: 10px;
    text-align: center;
    float: left;
}